# Don't include compiled C# binaries
out/
bin/
obj/

# Don't include compiled Svelte
wwwroot/

# Don't include ASP.NET Core Serilog logs
logs/

# Don't include IDE specific files
.idea/
.vs/
.vscode/

# Don't include any secrets
appsettings.json
appsettings.Development.json

# Don't include dev tools
scc.exe