logs/

# Don't include compiled C# binaries
out/
bin/
obj/

# Don't include IDE specific files
.idea/
.vs/
.vscode/

# Don't include any secrets
appsettings.json
appsettings.Development.json

wwwroot/