html, body {
    height: 100%;
    width: 100%;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    min-width: 100%;
}

.cont {
    flex-grow: 1;
}

.datepicker {
    border-color: #dbdbdb !important;
}

.datepicker:focus {
    border-color: #3273dc !important;
}