.date-selector {
    margin-top: 2%;
    padding: 0;
    display: flex;
    justify-content: center;
}

.mode-selector {
    margin-top: 0.2%;
    padding: 0;
    display: flex;
    justify-content: center;
}

.submit-btn {
    margin-top: 0.8%;
    padding: 0;
    display: flex;
    justify-content: center;
}

#from {
    text-align: center;
    width: auto;
}

#plot {
    margin:auto;
    max-width: 98%;
    height: 682px;
}
