html, body {
    height: 100%;
    width: 100%;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.cont {
    flex-grow: 1;
}

.date-selector {
    margin-top: 2%;
    padding: 0;
    display: flex;
    justify-content: center;
    line-height: 2.6em
}

.datepicker {
    border-color: #dbdbdb !important;
}

.datepicker:focus {
    border-color: #3273dc !important;
}

.mode-selector {
    margin-top: 0.2%;
    padding: 0;
    display: flex;
    justify-content: center;
}

.submit-btn {
    margin-top: 0.8%;
    padding: 0;
    display: flex;
    justify-content: center;
}

#plot {
    margin:auto;
    max-width: 99%;
    max-height: 99%;
}
